@mixin text{
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.411);
    color: white;
}
#list{
    width: 90%;
    margin: auto;
    margin-top: -70px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(155, 155, 155, 0.2);
    @media #{$break-point1}{
        margin-top: -40px;
        width: 98%;
    }
    @media #{$break-point2}{
        margin-top: -120px;
        width: 95%;
    }
}
#list h2{
     padding: 20px 10px;
     font-size: 25px;
     color: rgb(68, 68, 68);
     @media #{$break-point1}{
         font-size: 20px;
         padding: 10px;
     }
}
#list hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: rgb(211, 211, 211);
}
.item{
    font-size: 20px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    text-align: center;
}
.item:nth-child(even){
    background-color: #f5f5f5;
}
.problem{
    background-color: rgb(247, 99, 0) !important;
    @include text();
}
.go-outside{
    background-color: rgb(252, 232, 53) !important;
    @include text();
}
.in-hospital{
    background-color: rgb(212, 61, 61) !important;
    @include text();
}