header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: white;

    ul{
        display: flex;
        width: 75px;
        font-size: 25px;
        justify-content: space-between;
    }

}
header h1{
    width: 90%;
    text-align: center;
}
// header ul li i{
//     font-size: 25px;
// }